/*.navbar-custom .nav-item.active .nav-link,*/
/*.navbar-custom .nav-item:focus .nav-link,*/
/*.navbar-custom .nav-item:hover .nav-link*/
/*{*/
    /*color: #ff3e52 !important;*/
/*}*/
/**/
/**/
/*.navbar-custom .dropdown-menu .dropdown-item:hover   {*/
    /*background-color: rgba(174, 225, 241, 0.51);*/
/*}*/
/**/
/*.navbar-custom .dropdown-menu .dropdown-item:focus   {*/
    /*background-color: #007BFF;*/
/*}*/


.navbar-nav {
    line-height:15px;
}

/*.navbar {*/
/*min-height: 15px;*/
/*}*/
/**/
/*.navbar-brand {*/
/*padding: 0 5px;*/
/*height: 12px;*/
/*line-height: 12px;*/
/*}*/
/**/
/*.navbar-toggle {*/
/*(80px - button height 34px) / 2 = 23px*/
/*margin-top: 5px;*/
/*padding: 7px 10px !important;*/
/*}*/

/*@media (min-width: 768px) {*/
/*.navbar-nav > li > a {*/
/*(80px - line-height of 27px) / 2 = 26.5px*/
/*padding-top: 12px;*/
/*padding-bottom: 1px;*/
/*line-height: 15px;*/
/*}*/
/*}*/
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link
{
    color: #ff3e52;
}

.navbar-custom .dropdown-menu .dropdown-item:hover   {
    background-color: rgba(174, 225, 241, 0.51);
}

.navbar-custom .dropdown-menu .dropdown-item:focus   {
    background-color: #007BFF;-->
}

/*.navbar-custom .navbar-text {*/
/*font-weight:bold;*/

/*}*/

body {
    font-size: 116%;
    /*padding: 9px;*/
}

span.form-error-text { color: red; }

/*.navbar-logo {*/
/*width: 90px;*/
/*}*/

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.card-notify-add {
    position: absolute;
    right: -3px;
    top: -1px;
    background: #f2df45;
    background-blend-mode: color-dodge;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    vertical-align: bottom;
    display:table-cell;
    /*line-height:17px;*/
    border-style: ridge ;
    border-radius: 50%;
    color: #ff001c;
    width: 61px;
    height: 61px;
    /*padding: 5px 12px 0 0;*/
    font-size: 14px;
    font-weight: bold;

}
.card-notify-modified {
    position: absolute;
    right: 50px;
    top: 0px;
    background: #f26c22;
    background-blend-mode: color-dodge;
    text-align: center;
    border-style: ridge ;
    border-radius: 60px 60px 60px 60px;
    color: #fafff3;
    padding: 3px 6px;
    font-size: 9px;

}

.card-big-modified {
    position: absolute;
    right: 100px;
    top: 0px;
    background: #f26c22;
    background-blend-mode: color-dodge;
    text-align: center;
    border-style: ridge ;
    border-radius: 30px 30px 30px 30px;
    color: #fafff3;
    padding: 5px 10px;
    font-size: 12px;

}

.card-pic-new {
    position: absolute;
    right: -3px;
    top: -1px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.card:hover {
    background: #0064ff;
    box-shadow: 12px 15px 20px 0px rgba(0, 177, 255, 0.38);
    border-radius: 3px;
    transition: all 0.2s ease;
}
