<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Car Listing Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/../resources/static/css/custom.css" type="text/css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>

        .navbar-nav {
            line-height:15px;
        }

    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:focus .nav-link,
    .navbar-custom .nav-item:hover .nav-link
    {
        color: #ff3e52;
    }

    .navbar-custom .dropdown-menu .dropdown-item:hover   {
        background-color: rgba(174, 225, 241, 0.51);
    }

    .navbar-custom .dropdown-menu .dropdown-item:focus   {
        background-color: #007BFF;-->
    }
    span.form-error-text { color: red; }
    body { font-size: 116%;}
        form  { display: table;  margin: 0 auto;   }
        p     { display: table-row;  }
        label { display: table-cell; font-weight: bold; }
        input { display: table-cell;}
</style>
</head>
<body>
<div th:replace="base :: navlinks"></div>

<form action="#" th:action="@{/addprocess}" th:object="${car}" method="post"
      enctype="multipart/form-data" style="font-size:85%;" >

    <input type="hidden" th:field="*{id}" />

    <p>
    <label>Car Photo:</label> <input type="file" name="file" /><br />
    <span  th:if="${message}">
        <h6 style="color: red" th:text="${message}"> </h6>
    </span>
    </p>

    <p>
        <label>Category:</label> <select th:field="*{category}" >

    <option th:unless="${category.idnum == 1}" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.type}">
    </option>

    </select>
    </p>

    <br />

    <p>

    <label>Manufacturer:  </label><input type="text" th:field="*{manufacturer}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('manufacturer')}"
          th:errors="*{manufacturer}"></span>
    </p><br />

    <p>
    <label>Model:</label> <input type="text" th:field="*{carmodel}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('carmodel')}"
          th:errors="*{carmodel}"></span></p><br />

    <p>
    <label>Trim:</label> <input type="text" th:field="*{cartrim}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('cartrim')}"
          th:errors="*{carTrim}"></span></p><br />

    <p>
    <label>Year:</label> <input type="text" th:field="*{year}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('year')}"
          th:errors="*{year}"></span></p><br />

    <p>
    <label>Mileage:</label> <input type="text" th:field="*{mileage}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('mileage')}"
          th:errors="*{mileage}"></span></p><br />

    <p>
    <label>Color:</label> <input type="text" th:field="*{color}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('color')}"
          th:errors="*{color}"></span></p><br />

    <p>
    <label>Listing Price:</label> <input type="number" th:field="*{price}"
                          placeholder="0.00" min="0.01" step="0.01" pattern="^\d+(?:\.\d{2,2})?$"
                          th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}"></span></p><br />

    <p>
    <label>Short Description:  &nbsp;  </label> <textarea rows=1 style="height:auto; width:100%;" th:field="*{description}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span></p><br />

    <p>
    <label>Features:</label> <textarea rows=2 style="height:auto; width:100%;" th:field="*{features}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('features')}"
          th:errors="*{features}"></span></p><br />

    <p></p> <label></label>
    <span style="display:inline-block;">
    &nbsp;
    <input class="btn btn-light"   style="text-align: center; margin: auto; width:100px" type="reset" value="Reset" /> &nbsp; &nbsp; &nbsp;
    <input class="btn btn-primary" style="text-align: center; margin: auto; width:100px"  type="submit" value="Submit" />
    </span>

</form>
<br /> <hr />

    <div th:replace="base :: modal"></div>
    <div th:replace="base :: footer"></div>
    <!-- Bootstrap core JavaScript-->
    <!--jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>