<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Car Listing Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/../resources/static/css/custom.css" type="text/css">
<style>
    span.form-error-text { color: red; }
</style>
</head>
<body>

<form action="#" th:action="@{/addprocess}" th:object="${car}" method="post"
      enctype="multipart/form-data">

    <input type="hidden" th:field="*{id}" />

    Car Photo <input type="file" name="file" /><br />
    <span  th:if="${message}">
        <h6 style="color: red" th:text="${message}"> </h6>
    </span> <br />

    Category: <select th:field="*{category}" >

    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.type}">
    </option>

    <!--<option th:value="1" th:text="Compact"></option>-->
    <!--<option th:value="2" th:text="Midsize"></option>-->
    <!--<option th:value="3"   th:text="Full"></option>-->
    <!--<option th:value="4" th:text="Crossover+' '+SUV"></option>-->
    <!--<option th:value="5" th:text="Mid-size+' '+SUV"></option>-->
    <!--<option th:value="6" th:text="Full-size+' '+SUV"></option>-->
    <!--<option th:value="7" th:text="Mid-size+' '+Pick-up+' '+Truck"></option>-->
    <!--<option th:value="8" th:text="Full-size+' '+Pick-up+' '+Truck"></option>-->
    <!--<option th:value="9" th:text="Minivan"></option>-->
    <!--<option th:value="10" th:text="Van"></option>-->
    <!--<option th:value="11" th:text="Mid-size+' '+Luxury"></option>-->
    <!--<option th:value="12" th:text="Full-size+' '+Luxury"></option>-->
    </select><br /><br />

    Manufacturer: <input type="text" th:field="*{manufacturer}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('manufacturer')}"
          th:errors="*{manufacturer}"></span><br /><br />

    Model: <input type="text" th:field="*{carmodel}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('carmodel')}"
          th:errors="*{carmodel}"></span><br /><br />

    Trim: <input type="text" th:field="*{cartrim}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('cartrim')}"
          th:errors="*{carTrim}"></span><br /><br />

    Year: <input type="text" th:field="*{year}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('year')}"
          th:errors="*{year}"></span><br /><br />

    Mileage: <input type="text" th:field="*{mileage}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('mileage')}"
          th:errors="*{mileage}"></span><br /><br />

    Color: <input type="text" th:field="*{color}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('color')}"
          th:errors="*{color}"></span><br /><br />

    Listing Price: <input type="number" th:field="*{price}"
                          placeholder="0.00" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"
                          th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}"></span><br /><br />

    Short Description: <textarea rows="2" th:field="*{description}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br /><br />

    Features: <textarea rows="5" th:field="*{features}" th:errorclass="form-field-error" />
    <span class="form-error-text" th:if="${#fields.hasErrors('features')}"
          th:errors="*{features}"></span><br /><br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>