<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Car Category Form</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:focus .nav-link,
        .navbar-custom .nav-item:hover .nav-link
        {
            color: #ff3e52;
        }

        .navbar-custom .dropdown-menu .dropdown-item:hover   {
            background-color: rgba(174, 225, 241, 0.51);
        }

        .navbar-custom .dropdown-menu .dropdown-item:focus   {
            background-color: #007BFF;-->
        }
        span.form-error-text { color: red; }
        body { font-size: 116%;}
    </style>
    <!--<script>-->
    <!--function openmodal(id){-->
    <!--var id=id;-->
    <!--var other="<a onclick='openmodal(1)' style='cursor:pointer'>product 1</a><a onclick='openmodal(2)' style='cursor:pointer'>product 2</a><a onclick='openmodal(3)' style='cursor:pointer' >product 3</a>";-->
    <!--$('#item_modal').fadeOut("slow",function(){-->
    <!--$(this).modal('hide')-->
    <!--}).fadeIn("slow",function(){-->
    <!--$("#target_title").text(id);-->
    <!--$("#target_other").html(other);-->
    <!--$(this).modal('show')-->
    <!--});-->
    <!--}</script> -->

</head>
<body>
<div  class="container" th:fragment="deletecategoryModal">
<div class="modal-header">

    <h6 class="modal-title">Delete Category</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body" style="font-size:100%">

        Choose the Category to delete: <select id="category" name="category" >

        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.type}">
        </option>

        </select>

    <hr style="height:1px; visibility:hidden; margin-bottom: 0px;" />

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#test2" data-dismiss="modal"> Testing </button>

</div>
</div>

<div id="test1" class="modal fade" role="dialog" style="overflow:auto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <!--<form action="#" th:action="@{/deletecategoryprocess}" th:object="${car}" method="post">-->
<!---->
                    <!--<input type="hidden" th:field="*{id}" />-->
<!---->
                    <!--Choose the Category to delete: <select th:field="*{category}" >-->
<!---->
                    <!--<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.type}">-->
                    <!--</option>-->
<!---->
                <!--</select>-->
                    <!--<hr style="height:1px; visibility:hidden; margin-bottom: 0px;" />-->

                Are you sure you want to delete the Category [[${category.type}]]
                and all the Car Listings Under this Category?

                <!--<input type="submit" class="btn btn-primary" value="Submit" />-->
              <!--</form>-->
            </div>
        </div>
    </div>
</div>



<div th:replace="base :: footer"></div>
<!-- Bootstrap core JavaScript-->
<!--jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>