<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Car Category Form</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:focus .nav-link,
        .navbar-custom .nav-item:hover .nav-link
        {
            color: #ff3e52;
        }

        .navbar-custom .dropdown-menu .dropdown-item:hover   {
            background-color: rgba(174, 225, 241, 0.51);
        }

        .navbar-custom .dropdown-menu .dropdown-item:focus   {
            background-color: #007BFF;-->
        }
        span.form-error-text { color: red; }
        body { font-size: 116%;}
    </style>


</head>
<body>

<!--<div  class="container" th:fragment="deleteCategoryModal">-->

    <div class="modal-header">
        <h6 class="modal-title">Delete A Category</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="font-size:85%; text-align: center;">

        <!--<form th:action="@{/roles/editpermission/__${roleDTO.roleName}__/__${roleDTO.roleId}__}" method="get" id="validation-form" style="float:left;">        -->

        <b>Choose the Category to delete: </b><br /> <br />

            <!--<select th:field="*{category}" >-->
        <form action="#" th:action="@{/deletecategoryprocess}" th:object="${category}" method="post">

            <select id="categoryid" name="categoryid" class="form-control" th:field="*{category}">

            <option th:unless="${category.idnum == 1}" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.type}"> </option>

            </select>
        <br /> <br />

        <!--<p>-->
            <!--<label>Category:</label> <select th:field="*{category}" >-->
<!---->
            <!--<option th:unless="${category.idnum == 1}" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.type}">-->
            <!--</option>-->
<!---->
        <!--</select>-->
        <!--</p>-->

        <!--<hr style="height:1px; visibility:hidden; margin-bottom: 0px;" />-->

        <!--Modal footer -->
        <div class="modal-footer justify-content-between">
            <!--<button type="button" class="btn btn-light mr-auto" data-dismiss="modal" style="text-align: center; width:75px">Cancel</button>-->
            <!--<a style="text-align: center; width:75px" class="btn btn-primary" role="button" data-toggle="modal" data-target="#deleteCategoryConfirmModal" href="#" data-dismiss="modal">Submit</a>-->
            <button type="button" class="btn btn-light" data-dismiss="modal" style="text-align: center; margin: auto; width:75px">Cancel</button> &nbsp; &nbsp;
            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#deleteCategoryConfirmModal" data-dismiss="modal" th:href="@{/deletecategoryconfirm/{id}(id=${category.id})} value="Submit" />
        </div>
        </form>
    </div>
<!--</div>-->


</body>
</html>