<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/../resources/static/css/custom.css">

   <!--<style>-->
        <!--.navbar-custom .nav-item.active .nav-link,-->
        <!--.navbar-custom .nav-item:focus .nav-link,-->
        <!--.navbar-custom .nav-item:hover .nav-link-->
        <!--{-->
            <!--color: #ff3e52;-->
        <!--}-->
<!---->
<!---->
        <!--.navbar-custom .dropdown-menu .dropdown-item:hover   {-->
            <!--background-color: rgba(174, 225, 241, 0.51);-->
        <!--}-->
<!---->
        <!--.navbar-custom .dropdown-menu .dropdown-item:focus   {-->
            <!--background-color: #007BFF;-->
        <!--}-->

<!---->
        <!--/* and this styles the dropdown trigger link, when open */-->
        <!--/*.navbar-custom .dropdown.show a {*/-->
            <!--/*background-color: #BADA55;*/-->
        <!--/*}*/-->

        <!--/*.navbar-custom .navbar-toggle:hover,*/-->
        <!--/*.navbar-custom .navbar-toggle:focus {*/-->
        <!--/*background-color: #378dff;*/-->
        <!--/*}*/-->
<!---->
    <!--/*</style>*/-->
</head>
<body>

<div th:replace="base :: navlinks"></div>
<div th:if="${addsuccess}">
    <h7 style="color: red" th:text="${addsuccess}"> </h7>
    <b><h7 style="color: red" th:text="${carinfo}"> </h7></b>
</div><hr />

<h2>All Car Categories and Listings </h2>
<br /> <hr /> <br />

<!--<div class = "container">-->
    <!--<div class ="jumbotron">-->
    <!--<h3>Testing</h3>-->
        <!--<p>...</p>-->
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
    <!--</div>-->
<!--</div>-->

<div th:each="category : ${categories}">
    <h3 th:text="${category.type}"></h3><br />

    <th:block th:each="car : ${category.cars}">
        <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
          <div class="shadow p-3 mb-1 bg-white rounded">
            <div class="view overlay">
                <a th:href="@{/details/{id}(id=${car.id})}">
                <img class="card-img-top" th:src="${car.carphoto}" alt="No pic available.  Please add pic."
                     height="200" style="border-radius:.60rem;">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
              <div class="card-block">
                <h5 class="card-title">[[${car.year}]] [[${car.manufacturer}]] [[${car.carmodel}]] [[${car.cartrim}]] </h5>
                   <h6 class="card-subtitle mb-2">Only $[[${#numbers.formatDecimal(car.price, 0, 'COMMA', 2, 'POINT')}]] !!! </h6>
                    <h6 class="card-subtitle mb-2 text-muted">[[${car.mileage}]] miles</h6>
                    <p class="card-text">[[${car.description}]]</p>
                    <a class="btn btn-primary btn-sm" role="button" th:href="@{/update/{id}(id=${car.id})}">Update</a>
                    <a class="btn btn-primary btn-sm" role="button" th:href="@{/details/{id}(id=${car.id})}">Details</a>
                    <a class="btn btn-primary btn-sm" role="button" th:href="@{/delete/{id}(id=${car.id})}">Delete</a>
              </div>
            </div>
          </div>
    </th:block> <br />  <hr /> <br />
</div>


    <div th:replace="base :: footer"></div>
    <!-- Bootstrap core JavaScript-->
   <!--jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>