<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing Add Form</title>
</head>
<body>
<form action="#" th:action="@{/updateprocess}" th:object="${car}" method="post"
      enctype="multipart/form-data">

    <input type="hidden" th:field="*{id}" />


    <div th:if="${car.carphoto} != null" >
        Current Car Photo:
        <img th:src="${car.carphoto}"  height="250px" width="250px" />
        <hr />
    </div>

    <div th:if="${car.carphoto} == null">
        No pic exists for this listing. Please add pic.
        <input type="file" name="file" />
        <hr />
    </div>

        <!--<input type="file" name="file" />-->
    <!--<input id="image" type="file" name="image">-->
    <!--<button id="image_alt" type="button">Select image</button>-->
    <br/><br/>


    Category: <select th:field="*{category}" >

    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.type}">
    </option>


</select><br /><br />

    Manufacturer: <input type="text" th:field="*{manufacturer}" /><br />
    <span th:if="${#fields.hasErrors('manufacturer')}"
          th:errors="*{manufacturer}"></span><br />

    Model: <input type="text" th:field="*{carmodel}" /><br />
    <span th:if="${#fields.hasErrors('carmodel')}"
          th:errors="*{carmodel}"></span><br />

    Trim: <input type="text" th:field="*{cartrim}" /><br />
    <span th:if="${#fields.hasErrors('cartrim')}"
          th:errors="*{carTrim}"></span><br />

    Year: <input type="text" th:field="*{year}" /><br />
    <span th:if="${#fields.hasErrors('year')}"
          th:errors="*{year}"></span><br />

    Mileage: <input type="text" th:field="*{mileage}" /><br />
    <span th:if="${#fields.hasErrors('mileage')}"
          th:errors="*{mileage}"></span><br />

    Color: <input type="text" th:field="*{color}" /><br />
    <span th:if="${#fields.hasErrors('color')}"
          th:errors="*{color}"></span><br />

    Listing Price:
    <!--<input type="number" step="0.01" th:field="*{price}" />-->
    <input type="number"  th:field="*{price}" placeholder="0.00" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" /><br />
    <span th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}"></span><br />

    Description: <textarea rows="3" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>